

nav{
    background-color: #000b20;
}
nav.footer{
    background-color: black;
}

a.headerText{
    font-size: 26px;
}

div.wrapper{
    overflow: hidden;
}
div.left{
    float: left;
    text-align: center;
    margin-left: 5%;
}

div.right{
    float: right;
    text-align: center;
    margin-right: 5%
}

b{
    font-family: "Javanese Text";
    color: white;
    opacity: .4;
}

img,h2,h3,h4,h5,label{
    text-align: center;
    color: white;
    font-family: "Javanese Text";
}

h1{
    font-size: 60px;
    font-family: "Javanese Text";
    text-align: left;
    color: white;
}

p{
    color: white;
    font-family: "Javanese Text";
}
a{
    color: #355893;
    font-family: "Javanese Text"
}

.background{
    background-color:#343a40;
    font-family: "Javanese Text"
}

.card-header{
    background-color: #53565b;
}

.card-body{
    background-color: #343a40;
}

.carouselText{
    color:whitesmoke;
    background-color: black;
    text-align: center;
    opacity:0.7;
    font-size: 50px;
}

.carouselImage{
    position: relative;
    height: 600px;
}

.carouselDescription{
    color:whitesmoke;
    background-color: black;
    opacity:0.7;
    font-size: 30px;
}

.icon{
    width: 40px;
    height:40px;
    margin: 5px;
}