.carouselImage{
    position: relative;
    float: center;
    height: 600px;
}

nav{
    background-color: #17a2b8;
}
.carouselBackground{
    background-color: #000b20;
}

h1,img,a,h2,h3,h4,h5,label{
    text-align: center;
    font-family: "Javanese Text";
}
p,b{
    font-family: "Javanese Text";
}

a.headerText{
    font-size: 26px;
}
div.wrapper{
    overflow: hidden;
}
div.left{
    float: left;
    text-align: center;
    margin-left: 5%;
}

div.right{
    float: right;
    text-align: center;
    margin-right: 5%
}

.background{
    background-color: white;
}

.carouselText{
    color:black;
    background-color: whitesmoke;
    opacity:0.7;
    font-size: 50px;
}

.carouselDescription{
    color:black;
    background-color: whitesmoke;
    opacity:0.7;
    font-size: 30px;
}

.off{
    background-color: #000b20;
    color:white;
    font-family: "Javanese Text";
}

.on{
    background-color: white;
    color:black;
}

.icon{
    width: 40px;
    height:40px;
    margin: 5px;
}